.menu {
  @include breakpoint(sm) {
    cursor: pointer;
    width: 3em;
    justify-self: flex-end;
    transform: scale(0.65);
  }
  &__icon {
    @include breakpoint(sm) {
      position: relative;
      &,
      &:before,
      &::after {
        height: 0.4em;
        background: $color-primary;
        border-radius: 2em;
        display: inline-block;
      }

      & {
        margin: 0.5em 0;
        width: 100%;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        transition: all 0.2s;
      }

      &--open {
        &::before {
          top: -0.8em;
          right: 0;
          width: 2.25em;
        }

        &::after {
          top: 0.8em;
          right: 0;
          width: 1.5em;
        }
      }

      &--close {
        background: transparent;

        &::before {
          width: 100%;
          transform: rotate(-135deg);
          top: 0;
        }

        &::after {
          width: 100%;
          transform: rotate(135deg);
          top: 0;
        }
      }
    }
  }
}
