body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*add self host font */
@font-face {
  font-family: "Cocon";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/Cocon-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/Gilroy-Bold.woff2") format("woff2");
}

.dots__container {
  position: absolute;
  left: 0;
  bottom: 5%;
  left: 10%;
}

.dot {
  border: none;
  width: 15px;
  height: 15px;
  border: 1px solid #fe96c6;
  background: transparent;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #fe96c6;
}
