body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*add self host font */
@font-face {
  font-family: "Cocon";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/Cocon-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/Gilroy-Bold.woff2") format("woff2");
}
